<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
    <div class="input-field">
        <input  id="title" 
                name="title" 
                type="text" 
                class="validate" 
                required
                value="{{course.title}}"
                >
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="wrong name" data-success="right name"></span>
    </div>
    <div class="input-field">
        <input 
                id="price" 
                name="price" 
                type="text" 
                class="validate" 
                required 
                min="1"
                value="{{course.price}}"
                >
        <label for="price">Course Price</label>
        <span class="helper-text" data-error="wrong price" data-success="right price"></span>
    </div>
    <div class="input-field">
        <input 
                id="image" 
                name="img" 
                type="text" 
                class="validate" 
                required
                value="{{course.img}}"
                >
        <label for="image">URL course</label>
        <span class="helper-text" data-error="img" data-success="right"></span>
    </div>
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn ntn-primary">Edit Course</button>
</form>