<h1>courses list</h1>
{{#if courses.length}}
{{#each courses}}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="'{{title}}">
               
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
               <span class="price">{{price}}</span> 
            </div>
            <div class="card-action action">
                <a href="/courses/{{id}}" target="_blank">Open Course</a>
                <a href="/courses/{{id}}/edit?allow=true">Edit Course</a>
                <form action="/card/add" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>Not Courses</p>
{{/if}}